{
    "poll_rate": 2,
    "brightness": 100,
    "backlight_timeout": 30,
    "sleep_brightness": 0,
    "language": "en",

    "api_port": 0,
    "api_password": "",

    "led_night_start": "21:00",
    "led_night_end": "08:00",
    "timezone": "",

    "debug": false
}
