{
    "poll_rate": 2,
    "brightness": 100,
    "backlight_timeout": 30,
    "sleep_brightness": 0,
    "language": "en",
    "clock_24h": 1,
    "wallpaper": "",

    "api_port": 0,
    "api_password": "",

    "leds_on": 1,
    "led_night": 0,
    "led_night_start": "21:00",
    "led_night_end": "08:00",
    "timezone": "",

    "state_file": "",

    "debug": false
}
